/* 
    Document   : custom
    Created on : Feb 12, 2013, 3:55:48 PM
    Author     : nixone
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

@font-face {
	font-family: starcraft;
	src: url("starcraft.ttf");
}

a {
	color: #00a6e5;
}

body {
	background-color: black;
	background-image: url("../images/background.jpg");
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: white;
	padding: 30px;
}

h1 {
	font-family: starcraft;
	color: white;
}

body, input, textarea {
	font-family: verdana;
}

#container {
	width: 1000px;
	padding: 30px;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.666);
	box-shadow: inset 0px 0px 50px black, 0px 0px 20px black;
}

#banner {
	text-align: center;
	margin: 20px;
}

#banner h1, #banner h3 {
	padding: 0px;
	margin: 0px;
	text-shadow: black 0px 0px 5px;
	color: white;
	font-family: starcraft;
	line-height: 190%;
}

#banner h1 {
	font-size: 40px;
}

#banner h3 {
	font-size: 20px;
}

#footer {
	text-align: center;
	padding: 10px;
	color: rgba(255, 255, 255, 0.5);
	text-shadow: black 0px 1px 1px;
}

#menu {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	text-align: center;
}

#menu li {
	list-style-type: none;
	display: inline-block;
}

#menu li a {
	display: inline-block;
	padding: 10px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	background-color: rgba(255, 127, 0, 0.5);
	box-shadow: inset black 0px 0px 10px;
	border: 2px solid rgba(255, 255, 255, 0.25);
	border-radius: 3px;
	margin: 0px;
	text-shadow: black 0px 1px 2px;
}

#menu li a.fb {
	background-color: rgba(127, 127, 255, 0.75);
}

table.keyVal td, table.keyVal th {
	text-align: left;
	padding: 5px;
}

table.list {
	width: 100%;
	border-collapse: collapse;
}

table.list th, table.list td {
	padding: 5px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	text-align: left;
}

table.list th {
	background-color: rgba(50, 50, 50, 0.75);
	text-shadow: 0px 2px 2px black;
}

table.list td {
	
}

table.matches td.winner {
	background-color: rgba(0, 255, 0, 0.5);
}

table.matches td.looser {
	background-color: rgba(255, 0, 0, 0.5);
}

table.matches td.draw {
	background-color: rgba(0, 0, 255, 0.5);
}

table.matches td, table.matches th {
	text-align: center;
}

#tournamentSelector {
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.666);
	width: 100%;
	z-index: 500;
	box-shadow: 0px 0px 20px black;
}

#tournamentSelector span {
	display: block;
	padding: 5px;
	margin: 5px;
}

#tournamentSelector ul {
	position: absolute;
	visibility: hidden;
	margin: 0px;
	padding: 0px;
	width: 100%;
	list-style-type: none;
}

#tournamentSelector ul li {
	background-color: rgba(0, 0, 0, 0.666);
	box-shadow: 0px 0px 20px black;
}

#tournamentSelector ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 5px;
	margin: 5px;
}

#tournamentSelector:hover ul {
	visibility: visible;
}

#languageSelector {
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 1000;
	font-weight: bold;
}

#languageSelector span {
	display: block;
	padding: 5px;
	margin: 5px;
}

#languageSelector ul {
	visibility: hidden;
	margin: 0px;
	padding: 0px;
	padding-top: 1px;
	width: 100%;
	list-style-type: none;
}

#languageSelector:hover ul {
	visibility: visible;
}

#languageSelector ul li {
	background-color: rgba(0, 0, 0, 0.666);
	box-shadow: 0px 0px 20px black;
}

#languageSelector ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 5px;
	margin: 5px;
}

#advertisment {
	margin-top: 20px;
	background-color: white;
	box-shadow: inset gray 0px 0px 50px, white 0px 0px 10px;
}

#advertisment .ads {
	text-align: center;
}

#advertisment a {
	vertical-align: middle;
	display: inline-block;
}

	
#eta {
	font-family: starcraft;
	position: absolute;
	top: 400px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	box-shadow: inset 0px 0px 100px black, 0px 0px 25px black;
	text-shadow: 0px 0px 20px red;
}

#eta span {
	display: block;
	text-align: center;
	font-size: 40px;
	padding-top: 100px;
	padding-bottom: 100px;
}

div.column {
	float: right;
	width: 400px;
	height: 400px;
}

div.left {
	float: left;
	width: 560px;
}

div.stream {
	width: 560px;
	height: 400px;
	background-color: black;
	box-shadow: 0px 0px 15px black;
}

div.stream span {
	display: block;
	font-family: starcraft;
	font-size: 80px;
	margin-top: 50px;
	text-align: center;
	color: rgb(50, 50, 50);
}