# eclipse files
.classpath
.project
.metadata
*/bin

# idea files
.idea
*iml
out

# modules configs
cerebrate.cfg
bwtv.cfg
scmai-rules.txt

# cerebrate
cerebrate/cerebrate.cfg
cerebrate/replays/

# overlord
overlord/overlord.cfg
overlord/bots
overlord/game/

# parasite
.cproject
lib
Debug
Release
Parasite.vcproj.*
SCMAI.ncb
SCMAI.suo

# ubwtv
*.csproj
BWTV.app
ubwtv.sln
ubwtv.userprefs
Assembly-CSharp.sln
Assembly-CSharp.userprefs
Library
bwtv-win.exe
bwtv-win
ubwtv/Temp/
player_win_x64.pdb
player_win_x64_s.pdb
