#overmind
/overmind/nbproject/
/overmind/app/config/config.hackcraft_sk.local.neon
/overmind/app/config/config.local.neon
/overmind/db_scmai3/
/overmind/www/files/
/overmind/temp/
/overmind/log/

# eclipse files
.classpath
.project
.metadata
*/bin

# bwtv
bwtv/bwtv.cfg
bwtv/banners

# cerebrate
cerebrate/cerebrate.cfg
replays/

# overlord
overlord/overlord.cfg
overlord/bots
game/

# parasite
.cproject
lib
Debug
Release
Parasite.vcproj.*