# eclipse files
.classpath
.project
.metadata
*/bin

# bwtv
bwtv/bwtv.cfg
bwtv/banners
bwtv/stream/files

# cerebrate
cerebrate/cerebrate.cfg
cerebrate/replays/

# overlord
overlord/overlord.cfg
overlord/bots
overlord/game/

# parasite
.cproject
lib
Debug
Release
Parasite.vcproj.*
SCMAI.ncb
SCMAI.suo
