{var $robots = noindex}

{block #content}
<section>
    <div class="row">
        <div class="box">

            <h1>{_}sign_in_form{/_}</h1>

            {control signInForm}

            <a n:href="Sign:on">{_}dont_have_account_yet{/_}</a>

        </div>
    </div>
</section>
{* or use {include '../components/form.latte', form => $presenter[signInForm]} *}
