{var $robots = noindex}

{block #content}
<section>
    <div class="row">
        <div class="box">

            <h1>{_}sign_in_form{/_}</h1>

            {control signInForm}

            If you don't have an account, you can <a n:href="Sign:on">create one right now</a>.

        </div>
    </div>
</section>