section {
    width: auto;
}

#panel {
    position: inherit;
}

#panel select {
    float: none;
    width: 100%;
    padding: 1em;
}

#panel ul.menu {
    float: none;
    margin: 0;
}

#panel ul.menu li {
    display: block;
}

#panel ul.menu li a {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#panel-separator {
    margin-top: 0;
}

.left-column, .right-column {
    float: none;
    width: auto;
}

#tv {
    width: auto;
    margin: auto;
}

.left-column .box, .right-column .box {
    margin: 0;
    margin-top: 1em;
}