<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="UNIZA FRI StarCraft Micro AI Tournament">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<meta name="author" content="nixone">

	<title>FRI SC Micro AI Tournament</title>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery.nette.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery.backstretch.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700&amp;subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" media="screen" href="{$basePath}/theme/screen.css">
	<link rel="stylesheet" media="screen" href="{$basePath}/theme/common.css">
	<link rel="stylesheet" media="screen and (max-width: 1024px)" href="{$basePath}/theme/mobile.css">

	<link href="/favicon.ico" rel="icon" />
	
	<meta property="og:title" content="StarCraft Micro AI Tournament 4"/>
	<meta property="og:site_name" content="Artificial Intelligence Tournament"/>
	<meta property="og:description" content="Artificial Intelligence Tournament in the game StarCraft: Broodwar focused on the micro component in the game. Feel free to join and fight!" />
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-40502728-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

	<script type="text/javascript">
	$(function(){
	    $("select[name=tournamentId]").change(function(){
	        $("form[method=get]").submit();
	    });

	    $(".flashes").delay(2500).slideUp(1000);
	});
	</script>

    <script type="text/javascript">
        window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-bottom"};
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
	
	{block head}{/block}
</head>

<body>
    <div id="panel">
        <section>
            <form method="get" action="{$presenter->link('Homepage:setTournament')}">
                <select name="tournamentId">
                    <option n:foreach="$activeTournaments as $t" value="{$t->getId()}"{if $t->getId()==$tournament->getId()} selected="selected"{/if}>{$t->getName()}</option>
                </select>
            </form>

            <ul class="menu">
                <li><a n:href="Tournament:">{_}live_sc{/_}</a></li>
                <li><a n:href="Homepage:chat">{_}chat{/_}</a></li>
                <li><a n:href="Tournament:info">{_}info{/_}</a></li>
                <li><a n:href="Tournament:ladder">{_}ladder{/_}</a></li>
                <li><a n:href="Tournament:matches">{_}matches{/_}</a></li>
                    {if $loggedIn}
                        <li><a class="private" n:href="Bot:my">{_}my_bot{/_}</a></li>
                            {if $user->isAdmin}
                                <li><a class="admin" n:href="Admin:console">{_}administration{/_}</a></li>
                            {/if}
                        <li><a class="logout" n:href="Sign:out">{_}sign_out{/_}</a></li>
                        {else}
                        <li><a class="private" n:href="Sign:in">{_}sign_in{/_}</a></li>
                    {/if}
            </ul>
        </section>
    </div>

    <div id="panel-separator"></div>
	
	<script> document.body.className+=' js' </script>

    {if count($flashes)>0}
    <section class="flashes">
        <div class="row">
	        <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{_}{$flash->message}{/_}</div>
	    </div>
    </section>
    {/if}
		
	{include #content}

	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
