<ul class="showcase">
    <li><a href="http://www.fri.uniza.sk/"><img src="/showcase/fri.png" /></a></li>
    <li><a href="http://inloop.eu/"><img src="/showcase/inloop.png" /></a></li>
    <li><a href="http://sames.sk/"><img src="/showcase/logo_white.png" /></a></li>
</ul>