{block head}
<style type="text/css">
	#matches_scrollable {
		max-height: 600px;
		overflow: auto;
	}
</style>
{/block}

{block content}

<h1>My matches</h1>

<div id="matches_scrollable">
{includeblock '../components/matches.latte', 
	matches => $matches, 
	displayStartTime => true, 
	displayDuration => true, 
	displayPoints => true, 
	displayDetails => true,
	displayReplay => true
}
</div>

{/block}