{block content}

<h1>{$tournament->getName()}</h1>
<h2>Základné informácie</h2>

{control tournamentDetailsForm}

<h2>Archivácia tournamentu</h2>

{if $tournament->isArchived()}
	Tournament je už označený ako archívovaný.
{else}
	{control archiveTournamentForm}
{/if}