{block content}
<section>
    <div class="row">
        <div class="box">
            <h1>{$t->getName()}</h1>
            <h2>Basic information</h2>

            {control tournamentDetailsForm}

            <h2>Archiving of tournament</h2>

            {if $t->isArchived()}
                Tournament is already archived.
            {else}
                {control archiveTournamentForm}
            {/if}

        </div>
    </div>
</section>