{block head}
<style type="text/css">
	#matches_scrollable {
		max-height: 600px;
		overflow: auto;
	}
</style>
{/block}

{block content}
<h1>{_}planned_and_played_matches{/_}</h1>

<p>{_}planned_and_played_matches_info{/_}</p>

<div id="matches_scrollable">
{includeblock '../components/matches.latte', 
	matches => $matches, 
	displayStartTime => true, 
	displayDuration => true, 
	displayPoints => true, 
	displayDetails => true
}
</div>

{/block}